.vakcina-details {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.vakcina-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.vakcina-details p {
    font-size: 16px;
    margin: 5px 0;
}