<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detalji vakcine</title>
  <link rel="stylesheet" th:href="@{/style/pocetnaStyle.css}">
  <link rel="stylesheet" th:href="@{/style/detaljiVakcineStyle.css}">
  <base href="/eUprava/">
</head>
<body>
<div class="header">
  <h1>eUprava</h1>
  <a class="odjava-btn" href="korisnici/odjava">Odjavi se</a>
</div>
<nav class="nav-bar">
  <ul>
    <li><a th:href="@{korisnici/pocetna}">Početna</a></li>
    <li><a th:href="@{vakcine}">Vakcine</a></li>
    <li><a th:href="@{korisnici/profil}">Profil</a></li>
  </ul>
</nav>

<div class="vakcina-details">
  <h2>Detalji vakcine: <span th:text="${vakcina.ime}"></span></h2>
  <p>Dostupna količina: <span th:text="${vakcina.dostupnaKolicina}"></span></p>
  <p>Naziv proizvođača: <span th:text="${vakcina.proizvodjac.proizvodjac}"></span></p>
  <p>Drzava proizvođača: <span th:text="${vakcina.proizvodjac.drzavaProizvodnje}"></span></p>
</div>

<form th:action="@{/vakcine/izmeni/{vakcinaId}(vakcinaId=${vakcina.id})}" method="post">
  <h2>Izmena podataka o vakcini</h2>
  <input type="hidden" name="id" th:value="${vakcina.id}">
  <input type="hidden" id="proizvodjacVakcineId" name="proizvodjacVakcineId" th:value="${vakcina.proizvodjac.id}">
  <label for="imeVakcine">Ime vakcine:</label>
  <input type="text" id="imeVakcine" name="imeVakcine" th:value="${vakcina.ime}" required>

  <label for="nazivProizvodjaca">Naziv proizvođača:</label>
  <input type="text" id="nazivProizvodjaca" name="nazivProizvodjaca" th:value="${vakcina.proizvodjac.proizvodjac}" required>
  <label for="drzavaProizvodjaca">Država proizvođača:</label>
  <input type="text" id="drzavaProizvodjaca" name="drzavaProizvodjaca" th:value="${vakcina.proizvodjac.drzavaProizvodnje}" required>

  <button type="submit">Sačuvaj izmene</button>
</form>

</body>
</html>
