<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Početna strana</title>
    <link rel="stylesheet" th:href="@{/style/pocetnaStyle.css}">
    <link rel="stylesheet" th:href="@{/style/fragmentsStyle.css}">
    <script th:src="@{/js/pocetna.js}"></script>
    <base href="/eUprava/">
</head>
<body>
<div class="header">
    <h1>eUprava</h1>
    <a class="odjava-btn" href="korisnici/odjava">Odjavi se</a>
</div>
<nav class="nav-bar">
    <ul>
        <li><a th:href="@{korisnici/pocetna}">Početna</a></li>
        <li><a th:href="@{vakcine}">Vakcine</a></li>
        <li><a th:href="@{korisnici/profil}">Profil</a></li>
    </ul>
</nav>
<p style="position: absolute; top: 0; right: 0; margin: 5px;" id="korisnik"><span th:text="${#httpSession.getAttribute('korisnik').email}"></span></p>
<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Administrator}" class="unos-vesti">
    <h2>Unos nove vesti</h2>
    <form method="post" action="dodavanjeVesti">
        <label for="naziv">Naziv:</label>
        <input type="text" id="naziv" name="naziv" required><br>
        <label for="sadrzaj">Sadržaj:</label>
        <textarea id="sadrzaj" name="sadrzaj" required></textarea><br>

        <input type="submit" value="Objavi vest" class="dugme-unos">
    </form>
</div>

<!-- Forma za unos statistike -->
<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Administrator} and !${istaknutaVest}" class="unos-statistike">
    <h2>Unos vesti o obolelima</h2>
    <form method="post" action="dodavanjeStatistike">
        <label for="oboleli">Broj obolelih:</label>
        <input type="number" id="oboleli" name="oboleli" required><br>
        <label for="testirani">Broj testiranih:</label>
        <input type="number" id="testirani" name="testirani" required><br>
        <label for="hospitalizovani">Broj hospitalizovanih:</label>
        <input type="number" id="hospitalizovani" name="hospitalizovani" required><br>
        <label for="pacijentiNaRespiratoru">Broj pacijenata na respiratoru:</label>
        <input type="number" id="pacijentiNaRespiratoru" name="pacijentiNaRespiratoru" required><br>

        <input type="submit" value="Objavi statistiku" class="dugme-unos">
    </form>
</div>

<div class="vesti">
    <h2>Vesti</h2>
    <div class="objave">
        <!-- Statistika za trenutni datum kao istaknuta objava -->
        <div id="statistika" th:if="${istaknutaVest}" th:classappend="${'objava istaknuta'}" th:data-id="${istaknutaVest.id}" class="objava">
            <h3>Statistički izveštaj za datum: <span th:text="${#temporals.format(istaknutaVest.datumIVremeObjavljivanja, 'dd.MM.yyyy.')}"></span></h3>
            <hr style="font-weight: bold">
            <p>Broj zaraženih: <span class="broj-obolelih" th:text="${istaknutaVest.oboleliUDanu}"></span></p>
            <p>Broj testiranih: <span class="broj-testiranih" th:text="${istaknutaVest.testiraniUDanu}"></span></p>
            <p>Broj hospitalizovanih: <span class="broj-hospitalizovanih" th:text="${istaknutaVest.hospitalizovani}"></span></p>
            <p>Broj pacijenata na respiratoru: <span class="broj-pacijenti-na-respiratoru" th:text="${istaknutaVest.pacijentiNaRespiratoru}"></span></p>
            <p style="font-weight: bold">Ukupan broj zaraženih: <span th:text="${istaknutaVest.ukupnoOboleli}"></span></p>
            <div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Administrator}" class="dugmad">
                <button class="izmena-dugme-statistika" onclick="openModalStatistika('${istaknutaVest.oboleliUDanu}', '${istaknutaVest.testiraniUDanu}', '${istaknutaVest.hospitalizovani}', '${istaknutaVest.pacijentiNaRespiratoru}', '${istaknutaVest.id}')">Izmeni</button>
                <button class="brisanje-dugme-statistika">Obriši</button>
            </div>
        </div>

<!--        <div th:fragment="vesti">-->
        <div th:each="vest : ${sveVesti}" class="objava" th:data-id="${vest.id}">
            <h3 th:text="${vest.naziv}"></h3>
            <p th:text="${vest.sadrzaj}"></p>
            <p class="datum" th:text="${#temporals.format(vest.datumIVremeObjavljivanja, 'dd.MM.yyyy. HH:mm')}"></p>
            <div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Administrator}" class="dugmad">
                <button class="izmena-dugme" onclick="openModal('${vest.naziv}', '${vest.sadrzaj}', '${vest.id}')">Izmeni</button>
                <button class="brisanje-dugme" th:data-id="${vest.id}" onclick="obrisiVest(this)">Obriši</button>
            </div>
        </div>

        <!--        </div>-->
    </div>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form id="izmenaForma" action="" method="post">
        <input type="hidden" id="vestId" name="vestId">
            <label class="labele" for="nazivIzmena">Naziv:</label>
            <input type="text" id="nazivIzmena" name="nazivIzmena" required><br>
            <label class="labele" for="sadrzajIzmena">Sadržaj:</label>
            <textarea id="sadrzajIzmena" name="sadrzajIzmena" required></textarea><br>
            <button type="submit">Potvrdi izmenu</button>
        </form>
    </div>
</div>

<div id="modalStatistika" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModalStatistika()">&times;</span>
        <form id="izmenaStatistikaForma" action="" method="post">
            <input type="hidden" id="statistikaId" name="statistikaId">
            <label for="oboleliIzmena">Broj obolelih:</label>
            <input type="number" id="oboleliIzmena" name="oboleliIzmena" required><br>
            <label for="testiraniIzmena">Broj testiranih:</label>
            <input type="number" id="testiraniIzmena" name="testiraniIzmena" required><br>
            <label for="hospitalizovaniIzmena">Broj hospitalizovanih:</label>
            <input type="number" id="hospitalizovaniIzmena" name="hospitalizovaniIzmena" required><br>
            <label for="pacijentiNaRespiratoruIzmena">Broj pacijenata na respiratoru:</label>
            <input type="number" id="pacijentiNaRespiratoruIzmena" name="pacijentiNaRespiratoruIzmena" required><br>
            <button type="submit">Potvrdi izmenu</button>
        </form>
    </div>
</div>


</body>
</html>

