<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registracija na eUpravu</title>
    <link rel="stylesheet" href="../style/registracijaStyle.css">
    <script th:src="@{/js/registracija.js}"></script>
    <base href="/eUprava/">
</head>
<body>
<div class="header">
  <a href=""><h1>Dobrodošli na eUpravu</h1></a>
</div>
  <form id="registrationForm" method="post" action="korisnici/registracija">
    <table>
      <caption>Registracija korisnika na eUpravu</caption>
      <tr>
        <th>Unesite email:</th>
        <td>
          <input id="emailRegistracija" type="email" value="" name="email" />
          <p class="error-message errorEmail"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite lozinku:</th>
        <td>
          <input id="lozinkaRegistracija" type="password" value="" name="lozinka" />
          <p class="error-message errorLozinka"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite ponovljenu lozinku:</th>
        <td>
          <input id="ponovljenaLozinkaRegistracija" type="password" value="" name="lozinkaPotvrda" />
          <p class="error-message errorPonovljenaLozinka"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite ime:</th>
        <td>
          <input id="imeRegistracija" type="text" value="" name="ime" />
          <p class="error-message errorIme"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite prezime:</th>
        <td>
          <input id="prezimeRegistracija" type="text" value="" name="prezime" />
          <p class="error-message errorPrezime"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite datum rodjenja:</th>
        <td>
          <input id="datumRodjenjaRegistracija" type="date" value="" name="datumRodjenja" />
          <p class="error-message errorDatumRodjenja"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite jmbg:</th>
        <td>
          <input id="jmbgRegistracija" type="text" value="" name="jmbg" />
          <p class="error-message errorJmbg"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite adresu:</th>
        <td>
          <input id="adresaRegistracija" type="text" value="" name="adresa" />
          <p class="error-message errorAdresa"></p>
        </td>
      </tr>
      <tr>
        <th>Unesite broj telefona:</th>
        <td>
          <input id="telefonRegistracija" type="text" value="" name="brojTelefona" />
          <p class="error-message errorTelefon"></p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="error" id="greska"></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input id="btnRegistracija" type="submit" value="Registruj se"/>
        </td>
      </tr>
    </table>
  </form>
  <ul>
    <li>
      <a href="korisnici/prijava">Prijavi se</a>
    </li>
  </ul>
</body>
</html>