<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vakcine</title>
    <link rel="stylesheet" th:href="@{/style/pocetnaStyle.css}">
    <link rel="stylesheet" th:href="@{/style/vakcineStyle.css}">
    <script th:src="@{/js/vakcine.js}"></script>
    <base href="/eUprava/">
</head>
<body>
<div class="header">
  <h1>eUprava - <i>Vakcine</i></h1>
  <a class="odjava-btn" href="korisnici/odjava">Odjavi se</a>
</div>
<nav class="nav-bar">
  <ul>
    <li><a th:href="@{korisnici/pocetna}">Početna</a></li>
    <li><a th:href="@{vakcine}">Vakcine</a></li>
    <li><a th:href="@{korisnici/profil}">Profil</a></li>
  </ul>
</nav>
<p style="position: absolute; top: 0; right: 0; margin: 5px;" id="korisnik"><span th:text="${#httpSession.getAttribute('korisnik').email}"></span></p>

<div class="search-container">
    <h2>Pretraga vakcina</h2>
    <form th:action="@{/vakcine}" method="get">
        <select id="kriterijum" name="kriterijum">
            <option value="ime">Naziv vakcine</option>
            <option value="proizvodjac">Naziv proizvođača</option>
            <option value="drzava">Država proizvođača</option>
            <option value="kolicina">Dostupna količina</option>
        </select>
        <input type="text" name="vrednost" placeholder="Unesite vrednost">

        <!-- Dodajte ovde polja za minimalnu i maksimalnu količinu -->
        <input type="number" name="minKolicina" id="minKolicina" placeholder="Min količina">
        <input type="number" name="maxKolicina" id="maxKolicina" placeholder="Max količina">

        <label for="sortiranje">Sortiranje:</label>
        <select id="sortiranje" name="sortiranje">
            <option value="imeASC">Ime vakcine (rastuće)</option>
            <option value="imeDESC">Ime vakcine (opadajuće)</option>
            <option value="proizvodjacASC">Naziv proizvođača (rastuće)</option>
            <option value="proizvodjacDESC">Naziv proizvođača (opadajuće)</option>
            <option value="drzavaProizvodjacaASC">Država proizvođača (rastuće)</option>
            <option value="drzavaProizvodjacaDESC">Država proizvođača (opadajuće)</option>
            <option value="kolicinaASC">Dostupna količina (rastuće)</option>
            <option value="kolicinaDESC">Dostupna količina (opadajuće)</option>
        </select>

        <button type="submit">Pretraži</button>
    </form>
</div>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Ime vakcine</th>
            <th>Dostupna količina</th>
            <th>Naziv proizvođača</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vakcina : ${vakcine}" th:unless="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Pacijent and vakcina.dostupnaKolicina <= 0}">
            <td><a th:href="@{/vakcine/{id}(id=${vakcina.id})}" th:text="${vakcina.ime}"></a></td>
            <td th:text="${vakcina.dostupnaKolicina}"></td>
            <td th:text="${vakcina.proizvodjac.proizvodjac}"></td>
            <td>
                <form th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Pacijent}"
                      th:action="@{/vakcine/prijava}" id="prijavaForm" method="post">
                    <input type="hidden" name="vakcinaId" th:value="${vakcina.id}">
                    <div class="button-container">
                        <button type="submit">Prijava za vakcinu</button>
                        <p th:if="${duplicateErrorMessage != null and #strings.startsWith(duplicateErrorMessage, 'duplicate_' + vakcina.id)}" th:text="${#strings.substringAfter(duplicateErrorMessage, 'duplicate_' + vakcina.id)}"></p>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).MedicinskoOsoblje}" class="search-container">
    <h2>Pretraga prijava</h2>
    <form th:action="@{/vakcine}" method="get">
        <input type="text" name="ime" placeholder="Ime">
        <input type="text" name="prezime" placeholder="Prezime">
        <input type="text" name="jmbg" placeholder="JMBG">
        <button type="submit">Pretraži</button>
    </form>
</div>

<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).MedicinskoOsoblje}" class="table-container">
    <h2>Prijave za vakcinaciju</h2>
    <table>
        <thead>
        <tr>
            <th>Pacijent</th>
            <th>JMBG</th>
            <th>Vakcina</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prijava : ${prijaveZaVakcinaciju}" th:data-id="${prijava.id}">
            <td th:text="${prijava.pacijent.ime} + ' ' + ${prijava.pacijent.prezime}"></td>
            <td th:text="${prijava.pacijent.jmbg}"></td>
            <td th:text="${prijava.vakcina.ime}"></td>
            <td>
                <form th:action="@{/vakcine/dajVakcinu}" id="dajVakcinuForm" method="post">
                    <input type="hidden" name="prijavaId" th:value="${prijava.id}">
                    <button type="submit">Daj vakcinu</button>
                    <p th:if="${duplicateErrorMessage != null and #strings.startsWith(duplicateErrorMessage, 'duplicate_' + prijava.id)}" th:text="${#strings.substringAfter(duplicateErrorMessage, 'duplicate_' + prijava.id)}"></p>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Administrator}" class="dodavanje-vakcine">
    <h2>Dodavanje nove vakcine</h2>
    <form id="formaDodajVakcinu" th:action="@{/vakcine/dodaj}" method="post">
        <label for="imeVakcine">Ime vakcine:</label>
        <input type="text" id="imeVakcine" name="imeVakcine" required>

        <label for="proizvodjacVakcine">Proizvođač vakcine:</label>
        <select id="proizvodjacVakcine" name="proizvodjacVakcine" required>
            <option selected disabled value="null"></option>
            <option th:each="proizvodjac : ${proizvodjaci}" th:value="${proizvodjac.id}" th:text="${proizvodjac.proizvodjac}"></option>
        </select>
        <p id="noviProizvodjacLink">Dodaj novog proizvođača (+)</p>
        <button id="btnDodajVakcinu" type="submit">Dodaj vakcinu</button>
    </form>
    <div id="noviProizvodjacForma" style="display: none;">
        <h2>Dodavanje novog proizvođača vakcine</h2>
        <form th:action="@{/proizvodjaci/dodaj}" method="post">
            <label for="nazivProizvodjaca">Naziv proizvođača:</label>
            <input type="text" id="nazivProizvodjaca" name="nazivProizvodjaca" required>
            <label for="drzavaProizvodjaca">Država proizvođača:</label>
            <input type="text" id="drzavaProizvodjaca" name="drzavaProizvodjaca" required>
            <button id="btnDodajProizvodjaca" type="submit">Dodaj proizvođača</button>
        </form>
    </div>
</div>

<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).MedicinskoOsoblje}" class="form-container">
    <h2>Kreiranje zahteva za nabavku vakcina</h2>
    <form th:action="@{/vakcine/nabavka-forma}" method="post">
        <label for="vakcina">Izaberite vakcinu:</label>
        <select id="vakcina" name="vakcina" required>
            <option th:each="vakcina : ${vakcine}" th:value="${vakcina.id}" th:text="${vakcina.ime}"></option>
        </select>

        <label for="kolicina">Količina:</label>
        <input type="number" id="kolicina" name="kolicina" required>

        <label for="razlog">Razlog nabavke:</label>
        <textarea id="razlog" name="razlog" required></textarea>

        <button type="submit">Kreiraj zahtev</button>
    </form>
</div>

<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).Administrator}" class="admin-container">
    <h2>Zahtevi za nabavku vakcina</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Vakcina</th>
            <th>Količina</th>
            <th>Razlog nabavke</th>
            <th>Status</th>
            <th>Opcije</th>
        </tr>
        <tr th:each="zahtev : ${zahtevi}">
            <td th:text="${zahtev.id}"></td>
            <td th:text="${zahtev.vakcina.ime}"></td>
            <td th:text="${zahtev.kolicinaVakcina}"></td>
            <td th:text="${zahtev.razlogNabavke}"></td>
            <td th:text="${zahtev.status}"></td>
            <td>
                <form th:action="@{/admin/odobri-zahtev}" method="post">
                    <input type="hidden" name="zahtevId" th:value="${zahtev.id}">
                    <button type="submit">Odobri</button>
                </form>
                <form th:action="@{/admin/odbij-zahtev}" method="post">
                    <input type="hidden" name="zahtevId" th:value="${zahtev.id}">
                    <input type="text" name="razlogOdbijanja" placeholder="Razlog odbijanja">
                    <button type="submit">Odbij</button>
                </form>
                <form th:action="@{/admin/vrati-na-reviziju}" method="post">
                    <input type="hidden" name="zahtevId" th:value="${zahtev.id}">
                    <input type="text" name="komentar" placeholder="Komentar za reviziju">
                    <button type="submit">Vrati na reviziju</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).MedicinskoOsoblje}" class="table-container">
    <h2>Odbijeni zahtevi za nabavku</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Vakcina</th>
            <th>Razlog odbijanja</th>
            <th>Status</th>
        </tr>
        <tr th:each="zahtev : ${odbijeniZahtevi}">
            <td th:text="${zahtev.id}"></td>
            <td th:text="${zahtev.vakcina.ime}"></td>
            <td th:text="${zahtev.razlogOdbijanjaZahteva}"></td>
            <td th:text="${zahtev.status}"></td>
        </tr>
    </table>
</div>

<div th:if="${#httpSession.getAttribute('korisnik').uloga == T(com.eUprava.model.Uloga).MedicinskoOsoblje}" class="table-container">
    <h2>Zahtevi vraćeni na reviziju</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Kolicina</th>
            <th>Razlog nabavke</th>
            <th>Vakcina</th>
            <th>Razlog odbijanja</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr th:each="zahtev : ${zahteviZaReviziju}">
            <form class="edit-form" th:action="@{/admin/nabavka-azuriranje}" method="post">
                <td th:text="${zahtev.id}"></td>
                <td>
                    <input type="number" name="novaKolicina" th:value="${zahtev.kolicinaVakcina}">
                </td>
                <td>
                    <input type="text" name="noviRazlog" th:value="${zahtev.razlogNabavke}">
                </td>
                <td th:text="${zahtev.vakcina.ime}"></td>
                <td th:text="${zahtev.razlogOdbijanjaZahteva}"></td>
                <td th:text="${zahtev.status}"></td>
                <td>
                    <input type="hidden" name="zahtevId" th:value="${zahtev.id}">
                    <button type="submit" class="edit-button">Potvrdi izmenu</button>
                </td>
            </form>
        </tr>
    </table>
</div>


</body>
</html>
